header{
    height: 125px;
    background-color: greenyellow;
    text-align: center;
}
.title{
    text-align: center;
}
.option{
    margin: 24px 0;
    padding: 4px;
}
.price{
    display: block;
    font-size: 30px;
    margin:0 auto;
    text-align: center;
}

#cart{
    padding: 16px;
    border: 2px solid darkcyan;
    width: 600px;
    margin: 0 auto;
}

#cart > selct,
#cart > input,
#cart > output{
    width: 75px;
    margin-right: 16px;
}

output{
    font-weight: 700;
    width: 100px;
}
